{% extends "layout.html" %}
{% block title %}Author Profile{% endblock %}
{% block content %}

<div class="text-center">
<ul class="list-group list-group-flush" class="text-center">
  <!--TODO: deal with if link does not exists-->
  <li class="list-group-item">Steam ID: <p style="font-size: 24px">{{ author.steam_id}}</p> </li>
  <li class="list-group-item">Number of games this player owned: <p style="font-size: 24px">{{ author.num_games_owned}}</p> </li>
  <li class="list-group-item">Number of reviews made by this player: <p style="font-size: 24px">{{ author.num_reviews}}</p> </li>
  <li class="list-group-item">Total playtime: <p style="font-size: 24px">{{ author.playtime_forever}}</p> </li>
  <li class="list-group-item">Playtime in last 2 weeks: <p style="font-size: 24px">{{ author.playtime_last_two_weeks}}</p> </li>
  <li class="list-group-item">Last playes: <p style="font-size: 24px">{{ author.last_played}}</p> </li>
</ul>


<a href="{{ url_for('author_insert_page') }}" class="btn btn-primary btn btn-warning btn-lg" aria-current="page"> Insert a new author</a>



{% endblock %}
 
