{% extends "layout.html" %}
{% block title %}Author Profile{% endblock %}
{% block content %}

<div class="text-center">
<ul class="list-group list-group-flush" class="text-center">
  <!--TODO: deal with if link does not exists-->
  <li class="list-group-item">Steam ID: <p style="font-size: 24px">{{ author.steam_id}}</p> </li>
  <li class="list-group-item">Number of games this player owned: <p style="font-size: 24px">{{ author.num_games_owned}}</p> </li>
  <li class="list-group-item">Number of reviews made by this player: <p style="font-size: 24px">{{ author.num_reviews}}</p> </li>
  <li class="list-group-item">Total playtime: <p style="font-size: 24px">{{ author.playtime_forever}}</p> </li>
  <li class="list-group-item">Playtime in last 2 weeks: <p style="font-size: 24px">{{ author.playtime_last_two_weeks}}</p> </li>
  <li class="list-group-item">Last playes: <p style="font-size: 24px">{{ author.last_played}}</p> </li>
</ul>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Add</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Delete</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Update</button>
</div>



{% endblock %}
 