<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>My steam games - Game list</title>

    {% if movies %}
      <table class="table is-striped is-fullwidth">
        {% for game_key, game in games %}
        <tr>
          <td>
            {{ game.title }}
            {% if game.year %} ({{ game.year }}) {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
    
    <link rel="stylesheet" href="/static/games.css"/>
  </head>
  <body>
    <h1>Games</h1>
    <ul>
      <li><a href="/games/requirements">Platfrom Requirements</a></li>
    </ul>
    <ul>
      <li><a href="/games/user_info">User Information</a></li>
    </ul>
  </body>
</html>


 