
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/pages.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    </head>
{%include 'navbar.html'%}

{% block content %}
<!-- TODO: Deal if Background image does not exists (example game: naruto)-->
{% if adds.background != "" %}
<div
class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url({{adds.background}});
    height: 50vh;
  "
>
  <h1 class="text-white">{{ selected_game.query_name}}</h1>
</div>
{%else%}
  <h1>{{ selected_game.query_name}}</h1>
{%endif%}

{% if adds %}
<form action="" method="post" name="info_list">
<div class="text-center">

<ul class="list-group list-group-flush" class="text-center">
  <!--TODO: deal with if link does not exists-->
  <li class="list-group-item">Game Info ID: <p style="font-size: 24px">{{ adds.gameinfo_Id}}</p> </li>
  <li class="list-group-item">Game ID: <p style="font-size: 24px">{{ adds.game_id}}</p> </li>
  <a href="{{ adds.supporturl}}" class="list-group-item list-group-item-action ">Support URL: <p style="font-size: 24px">{{ adds.supporturl}}</p> </li></a>
  <a href="{{ adds.website}}" class="list-group-item list-group-item-action ">Website: <p style="font-size: 24px">{{ adds.website}}</p> </li></a>
  <li class="list-group-item">Recomendation Count: <p style="font-size: 24px">{{ adds.recomendationcount}}</p> </li>
  <li class="list-group-item">Owners: <p style="font-size: 24px">{{ adds.steamspyowners}}</p> </li>
  <li class="list-group-item">Player Estimate: <p style="font-size: 24px">{{ adds.steamspyplayersestimate}}</p> </li>
</ul>

<div class="header_image">
  {%if 'http' in adds.headerimage%}
  <div class="text-center">
    <img src="{{adds.headerimage}}" class="img-thumbnail" alt="game image">
    {%else%}
    <img src="{{url_for('static', filename=default+adds.headerimage)}}" class="img-thumbnail" alt="game image">
  </div>
  {%endif%}
</div>

<div class="field is-grouped">
  <div class="control">
    <a class="button is-danger is-small" href="{{url_for('info_delete_page', game_id = selected_game.game_id)}}"> Delete Additional Info</a>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <a class="button is-danger is-small" href="{{url_for('update_info_page', game_id = selected_game.game_id)}}"> Update Additional Info</a>
  </div>
</div>

{% endif %}

  <a href="/games/genre/{{selected_game.game_id}}" class="btn btn-primary btn btn-warning btn-lg" aria-current="page">Genre Page</a>
  <a href="/games/requirements/{{selected_game.game_id}}" class="btn btn-primary btn btn-warning btn-lg" aria-current="page">Platform Requirements</a>

<div style="width: 50%; margin: auto">
  {% if reviews %}
  <table class="table is-striped is-fullwidth">
    {% for review in reviews %}
      {% if loop.index % 2 == 0 %}
              {% set bg_color = '#ffb6c1' %}
          {% else %}
              {% set bg_color = '#eee' %}
          {% endif %}
    <div style="padding: 10px; background-color:  {{ bg_color }}; margin: 20px">
      <p>#{{ loop.index }}</p>
      <p style="font-size: 16px">{{ review.review }}</p>
      <p style="font-size: 15px">{{ review.language }}</p>
      <p  style="font-size: 15px"> Timestamp Created:{{ review.timestamp_created }}</p>
      <p style="font-size: 15px"> Votes Helpful: {{ review.votes_helpful }} Votes Funny: {{ review.votes_funny }}</p>
      <a href="/games/author/{{review.author_steam_id}}" class="btn btn-info" role="button">Go to author</a>
    </div>
    {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock %}