{% extends "layout.html" %}
{% block title %}Edit Genre{% endblock %}
{% block content %}
    <h1 class="title">Add Genre</h1>
   

    <form method="POST" name="genre_add_page">

        <!--TODO: deal with game_id-->
      <div class="field">
        <label for="title" class="label">Non Game</label>
        <div class="control">
          <input type="radio" name="GenreIsNonGame" value="True" /> Yes<br>
          <input type="radio" name="GenreIsNonGame" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Indie</label>
        <div class="control">
          <input type="radio" name="GenreIsIndie" value="True" /> Yes<br>
          <input type="radio" name="GenreIsIndie" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Action</label>
        <div class="control">
          <input type="radio" name="GenreIsAction" value="True" /> Yes<br>
          <input type="radio" name="GenreIsAction" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Adventure</label>
        <div class="control">
          <input type="radio" name="GenreIsAdventure" value="True" /> Yes<br>
          <input type="radio" name="GenreIsAdventure" value="False" />No<br>
        </div>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Casual</label>
        <div class="control">
          <input type="radio" name="GenreIsCasual" value="True" /> Yes<br>
          <input type="radio" name="GenreIsCasual" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Strategy</label>
        <div class="control">
          <input type="radio" name="GenreIsStrategy" value="True" /> Yes<br>
          <input type="radio" name="GenreIsStrategy" value="False" />No<br>

        </div>
      </div>

      <div class="field">
        <label for="title" class="label">RPG</label>
        <div class="control">
          <input type="radio" name="GenreIsRPG" value="True" /> Yes<br>
          <input type="radio" name="GenreIsRPG" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Simulation</label>
        <div class="control">
          <input type="radio" name="GenreIsSimulation" value="True" /> Yes<br>
          <input type="radio" name="GenreIsSimulation" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Early Access</label>
        <div class="control">
          <input type="radio" name="GenreIsEarlyAccess" value="True" /> Yes<br>
          <input type="radio" name="GenreIsEarlyAccess" value="False" />No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Free</label>
        <div class="control">
          <input type="radio" name="GenreIsFreeToPlay" value="True" /> Yes<br>
          <input type="radio" name="GenreIsFreeToPlay" value="False" />No<br>

        </div>
      </div>


      <div class="field">
        <label for="title" class="label">Sports</label>
        <div class="control">
          <input type="radio" name="GenreIsSports" value="True" /> Yes<br>
          <input type="radio" name="GenreIsSports"  value="False" />No<br>


        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Racing</label>
        <div class="control">
          <input type="radio" name="GenreIsRacing" value="True" /> Yes<br>
          <input type="radio" name="GenreIsRacing"  value="False" />No<br>


        </div>
      </div>


      <div class="field">
        <label for="title" class="label">Multiplayer</label>
        <div class="control">
          <input type="radio" name="GenreIsMassivelyMultiplayer" value="True" /> Yes<br>
          <input type="radio" name="GenreIsMassivelyMultiplayer" value="False" />No<br>


        </div>
      </div>
     

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}