{% extends "layout.html" %}
{% block title %}Genres{% endblock %}
{% block content %}

<div class="text-center">
  <h1>Genre of {{ selected_game.query_name}}</h1>

<ul class="list-group list-group-flush" class="text-center">
  {% if genre.GenreIsNonGame == true %}
  <li class="list-group-item"><p style="font-size: 24px">Non Game</p> </li>
  {%endif%}
  {% if genre.GenreIsIndie == true %}
  <li class="list-group-item"><p style="font-size: 24px">Indie</p> </li>
  {%endif%}
  {% if genre.GenreIsAction == true %}
  <li class="list-group-item"><p style="font-size: 24px">Action</p> </li>
  {%endif%}
  {% if genre.GenreIsAdventure == true %}
  <li class="list-group-item"><p style="font-size: 24px">Adventure</p> </li>
  {%endif%}
  {% if genre.GenreIsCasual == true %}
  <li class="list-group-item"><p style="font-size: 24px">Casual</p> </li>
  {%endif%}
  {% if genre.GenreIsStrategy == true %}
  <li class="list-group-item"><p style="font-size: 24px">Strategy</p> </li>
  {%endif%}
  {% if genre.GenreIsRPG == true %}
  <li class="list-group-item"><p style="font-size: 24px">RPG</p> </li>
  {%endif%}
  {% if genre.GenreIsSimulation == true %}
  <li class="list-group-item"><p style="font-size: 24px">Simulation</p> </li>
  {%endif%}
  {% if genre.GenreIsEarlyAccess == true %}
  <li class="list-group-item"><p style="font-size: 24px">Early Access</p> </li>
  {%endif%}
  {% if genre.GenreIsFreeToPlay == true %}
  <li class="list-group-item"><p style="font-size: 24px">Free</p> </li>
  {%endif%}
  {% if genre.GenreIsSports == true %}
  <li class="list-group-item"><p style="font-size: 24px">Sports</p> </li>
  {%endif%}
  {% if genre.GenreIsRacing == true %}
  <li class="list-group-item"><p style="font-size: 24px">Racing</p> </li>
  {%endif%}
  {% if genre.GenreIsMassivelyMultiplayer == true %}
  <li class="list-group-item"><p style="font-size: 24px">Multiplayer</p> </li>
  {%endif%}
</ul>

<div class="field is-grouped">
  <div class="control">
    <a class="button is-danger is-small" href="{{url_for('genre_delete_page', game_id = selected_game.game_id)}}"> Delete Genre</a>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <a class="button is-danger is-small" href="{{url_for('update_genre_page', game_id = selected_game.game_id)}}"> Update Genre</a>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Add</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Delete</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Update</button>
</div>
</div>
</div>
{% endblock %}