
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    </head>
<body>
{%include 'navbar.html'%}

<div class="text-center">
  <h1>Genre</h1>
<h1>{{ selected_game.query_name}}</h1>

<ul class="list-group list-group-flush" class="text-center">
  {% if genre.GenreIsNonGame == true %}
  <li class="list-group-item"><p style="font-size: 24px">Non Game</p> </li>
  {%endif%}
  {% if genre.GenreIsIndie == true %}
  <li class="list-group-item"><p style="font-size: 24px">Indie</p> </li>
  {%endif%}
  {% if genre.GenreIsAction == true %}
  <li class="list-group-item"><p style="font-size: 24px">Action</p> </li>
  {%endif%}
  {% if genre.GenreIsAdventure == true %}
  <li class="list-group-item"><p style="font-size: 24px">Adventure</p> </li>
  {%endif%}
  {% if genre.GenreIsCasual == true %}
  <li class="list-group-item"><p style="font-size: 24px">Casual</p> </li>
  {%endif%}
  {% if genre.GenreIsStrategy == true %}
  <li class="list-group-item"><p style="font-size: 24px">Strategy</p> </li>
  {%endif%}
  {% if genre.GenreIsRPG == true %}
  <li class="list-group-item"><p style="font-size: 24px">RPG</p> </li>
  {%endif%}
  {% if genre.GenreIsSimulation == true %}
  <li class="list-group-item"><p style="font-size: 24px">Simulation</p> </li>
  {%endif%}
  {% if genre.GenreIsEarlyAccess == true %}
  <li class="list-group-item"><p style="font-size: 24px">Early Access</p> </li>
  {%endif%}
  {% if genre.GenreIsFreeToPlay == true %}
  <li class="list-group-item"><p style="font-size: 24px">Free</p> </li>
  {%endif%}
  {% if genre.GenreIsSports == true %}
  <li class="list-group-item"><p style="font-size: 24px">Sports</p> </li>
  {%endif%}
  {% if genre.GenreIsRacing == true %}
  <li class="list-group-item"><p style="font-size: 24px">Racing</p> </li>
  {%endif%}
  {% if genre.GenreIsMassivelyMultiplayer == true %}
  <li class="list-group-item"><p style="font-size: 24px">Multiplayer</p> </li>
  {%endif%}
</ul>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Add</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Delete</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Update</button>
</div>
</div>
</div>
</body>
<footer>
  <small>&copy; 2022 Fall Database Project - Group 15</small>
</footer>
 </html>