{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>My steam games</h1>
    <p>Have a nice {{ day }}!</p>
    
    <div style="width: 50%; margin: auto">
      {% if games %}
      <table class="table is-striped is-fullwidth">
        {% for game in games %}
          {% if loop.index % 2 == 0 %}
                  {% set bg_color = '#e6f9ff' %}
              {% else %}
                  {% set bg_color = '#eee' %}
              {% endif %}
        <div style="padding: 10px; background-color:  {{ bg_color }}; margin: 20px">
          <p>#{{ loop.index }}</p>
          <p style="font-size: 24px">{{ game }}</p>
        </div>
        {% endfor %}
        </table>
      {% endif %}
    </div>
  
    <ul>
      <li><a href="/price_info">Buy</a></li>
    </ul>
    <ul>
      <li><a href="/games">List games</a></li>
    </ul>

{% endblock %}