<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Games - Home</title>
    <link rel="stylesheet" href="/static/games.css"/>
  </head>
  <body>
    <h1>My steam games</h1>
    <p>Have a nice {{ day }}!</p>
    
    {% if movies %}
    <table class="table is-striped is-fullwidth">
      {% for game_key, game in games %}
      <tr>
        <td>
          {{ game.title }}
          {% if game.year %} ({{ game.year }}) {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
  
    <ul>
      <li><a href="/price_info">Buy</a></li>
    </ul>
    <ul>
      <li><a href="/games">List games</a></li>
    </ul>
  </body>
</html>