{% extends "layout.html" %}
{% block title %}Price_info{% endblock %}
{% block content %}

<h1 class="title">Purchase Game</h1>
<h2>Please enter your credit-card information:</h2>

<form action="" method="post" id="buy_form">
    <div class="form-group">
        <label for="nameSurname">Name Surname: </label>
        <input type="text" class="form-control" placeholder="Name Surname" id="nameSurname" name="nameSurname" required>
    </div>
    <div>
        <label for="cardNo">Card Number: </label>
        <input type="text" class="form-control" placeholder="0000 0000 0000 0000" id="cardNo" name="cardNo" required>
    </div>
    <button type="submit" class="btn btn-primary">Buy</button>
</form>

{% endblock %}