{% extends "layout.html" %}

{% block content %}
<h1>Platform Requirements</h1>

<ul class="list-group list-group-flush" class="text-center">
  <h3>Accessible Platform:</h3>
  {% if requirements.platformwindows == true %}
  <li class="list-group-item"><p style="font-size: 24px">Windows</p> </li>
  {%endif%}
  {% if requirements.platformlinux == true %}
  <li class="list-group-item"><p style="font-size: 24px">Linux</p> </li>
  {%endif%}
  {% if requirements.platformmac == true %}
  <li class="list-group-item"><p style="font-size: 24px">Mac</p> </li>
  {%endif%}

  <h3>Requirements:</h3>
  <li class="list-group-item">PC requirements: <p style="font-size: 24px">{{ requirements.pcminreqtext}}</p> </li>
  <li class="list-group-item">Linux requirements: <p style="font-size: 24px">{{ requirements.linuxminreqtext}}</p> </li>
  <li class="list-group-item">Mac requirements: <p style="font-size: 24px">{{ requirements.macminreqtext}}</p> </li>
</ul>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Add</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Delete</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Update</button>
</div>


{% endblock %}