{% extends "layout.html" %}
{% block title %}Edit Requirements{% endblock %}
{% block content %}
    <h1 class="title">Add Requirements</h1>

    <!--values = {"game_id": "", "response_id": "", "platformwindows": "","platformlinux": "","platformmac": "","pcminreqtext": "","linuxminreqtext": "","macminreqtext": ""}-->

    <form method="POST" name="requirements_add_page">

        <!--TODO: deal with game_id-->
        
      <div class="field">
        <label for="title" class="label">Windows</label>
        <div class="control">
          <input type="checkbox" name="platformwindows" value="True" /> Yes<br>
          <input type="checkbox" name="platformwindows" value="False" /> No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Linux</label>
        <div class="control">
          <input type="checkbox" name="platformlinux" value="True" /> Yes<br>
          <input type="checkbox" name="platformlinux" value="False" /> No<br>
        </div>
      </div>

      <div class="field">
        <label for="year" class="label">Mac</label>
        <div class="control">
          <input type="checkbox" name="platformmac" value="True" /> Yes<br>
          <input type="checkbox" name="platformmac" value="False" /> No<br>
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">PC minimum requirements</label>
        <div class="control">
          <input type="text" name="pcminreqtext" class="input" />
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Linux minimum requirements</label>
        <div class="control">
          <input type="text" name="linuxminreqtext" class="input" />
        </div>
      </div>

      <div class="field">
        <label for="title" class="label">Mac minimum requirements</label>
        <div class="control">
          <input type="text" name="macminreqtext" class="input" />
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}