
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    </head>
<body>
{%include 'navbar.html'%}

<h1>Platform Requirements</h1>

<ul class="list-group list-group-flush" class="text-center">
  <li class="list-group-item">platformwindows: <p style="font-size: 24px">{{ requirements.platformwindows}}</p> </li>
  <li class="list-group-item">platformlinux: <p style="font-size: 24px">{{ requirements.platformlinux}}</p> </li>
  <li class="list-group-item">platformmac: <p style="font-size: 24px">{{ requirements.platformmac}}</p> </li>
  <li class="list-group-item">pcminreqtext: <p style="font-size: 24px">{{ requirements.pcminreqtext}}</p> </li>
  <li class="list-group-item">linuxminreqtext: <p style="font-size: 24px">{{ requirements.linuxminreqtext}}</p> </li>
  <li class="list-group-item">macminreqtext: <p style="font-size: 24px">{{ requirements.macminreqtext}}</p> </li>
</ul>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Add</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Delete</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='#';">Update</button>
</div>

</div>
</body>
<footer>
  <small>&copy; 2022 Fall Database Project - Group 15</small>
</footer>
 </html>