{% extends "layout.html" %}
{% block title %}Update Genre of {{selected_game.query_name}}{% endblock %}
{% block content %}
    <h1 class="title  has-text-info-dark">Update Genre</h1>  <!--Add game name info-->

    <form action="" method="post" name="update_genre_page">

      <label for="GenreIsNonGame">Non Game:</label>
      <select name="GenreIsNonGame" id="GenreIsNonGame">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsIndie">Indie:</label>
      <select name="GenreIsIndie" id="GenreIsIndie">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsAction">Action:</label>
      <select name="GenreIsAction" id="GenreIsAction">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsAdventure">Adventure:</label>
      <select name="GenreIsAdventure" id="GenreIsAdventure">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsCasual">Casual:</label>
      <select name="GenreIsCasual" id="GenreIsCasual">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsStrategy">Strategy:</label>
      <select name="GenreIsStrategy" id="GenreIsStrategy">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsRPG">RPG:</label>
      <select name="GenreIsRPG" id="GenreIsRPG">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsSimulation">Simulation:</label>
      <select name="GenreIsSimulation" id="GenreIsSimulation">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsEarlyAccess">Early Access:</label>
      <select name="GenreIsEarlyAccess" id="GenreIsEarlyAccess">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsFreeToPlay">Free:</label>
      <select name="GenreIsFreeToPlay" id="GenreIsFreeToPlay">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsSports">Sports:</label>
      <select name="GenreIsSports" id="GenreIsSports">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsRacing">Racing:</label>
      <select name="GenreIsRacing" id="GenreIsRacing">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>

      <label for="GenreIsMassivelyMultiplayer">Multiplayer:</label>
      <select name="GenreIsMassivelyMultiplayer" id="GenreIsMassivelyMultiplayer">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>
   

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary is-small">Save</button>
      </div>
    </div>
    </form>
{% endblock %}